body > header:before,
body > main:before,
body > footer:before {
  content: none !important;
}

body > header,
body > main {
  margin-bottom: 0 !important;
}

@theme {
  --font-sans: "Inter", "sans-serif";
}

.video-plyr {
  --plyr-color-main: #e11d48;
}

.plyr__control--overlaid {
  @apply !bg-black/50;
}

.volume-slider-container {
  z-index: 10;
  transition: all 0.2s ease;
}

.plyr.plyr--full-ui {
  @apply h-[95%];
}

.wrapper {
  width: 200px;
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

#custom-toggle {
  -webkit-appearance: none;
  appearance: none;
  height: 20px;
  width: 40px;
  background-color: #333;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  padding: 0 2px;
  margin: 0;
  cursor: pointer;
}
#custom-toggle.tgl-def::-webkit-slider-thumb {
  background-color: orange;
}
#custom-toggle.tgl-on::-webkit-slider-thumb {
  background-color: green;
}
#custom-toggle.tgl-off::-webkit-slider-thumb {
  background-color: red;
}
#custom-toggle::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
}
#custom-toggle:focus {
  outline: none;
}

.rangeActive {
  background-color: green;
}
