body > header:before,
body > main:before,
body > footer:before {
  content: none !important;
}

body > header,
body > main {
  margin-bottom: 0 !important;
}

@theme {
  --font-sans: "Inter", "sans-serif";
}

.video-plyr {
  --plyr-color-main: #e11d48;
}

/* Hide Google Translate top bar */
body {
  top: 0 !important;
}

/* Hide Google Translate attribution */
.goog-te-banner-frame,
.goog-te-gadget-icon,
.goog-te-menu-value span,
.goog-te-gadget span,
.VIpgJd-ZVi9od-l4eHX-hSRGPd,
.VIpgJd-ZVi9od-ORHb-OEVmcd {
  display: none !important;
}

.goog-te-gadget {
  color: transparent !important;
  font-size: 0px !important;
}

.goog-te-gadget .goog-te-combo {
  display: none !important;
}

/* Custom styles for the Google Translate widget */
#google_translate_element {
  display: none;
}

.plyr__control--overlaid {
  @apply !bg-black/50;
}

.plyr.plyr--full-ui {
  @apply h-[95%];
}

/* Style for the menu links */
header ul.lg\:flex li a {
  @apply relative transition-colors duration-300 ease-in-out;
}

/* Create the underline effect using pseudo-element */
header ul.lg\:flex li a::after {
  @apply content-[''] absolute h-[3px] left-0 right-0 -bottom-[6px] bg-[#96F50A] scale-x-0 origin-right transition-transform duration-300 ease-out;
}

/* Hover effect */
header ul.lg\:flex li a:hover::after {
  @apply scale-x-100 origin-left;
}

/* Active state */
header ul.lg\:flex li a.active {
  @apply text-black;
}

header ul.lg\:flex li a.active::after {
  @apply scale-x-100 origin-left;
}
