---
import "plyr/dist/plyr.css";
---

<div class="flex items-center justify-end gap-4 mb-6">
  <div>
    <svg
      width="33"
      height="33"
      class="w-6 h-6"
      viewBox="0 0 33 33"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <rect width="32.786" height="32.786" rx="5.46434" fill="white"></rect>
      <path
        d="M2.73145 30.0512V27.3191C2.73145 27.3191 9.56187 24.5869 16.3923 24.5869C23.2227 24.5869 30.0532 27.3191 30.0532 27.3191V30.0512H2.73145ZM15.436 12.4287C13.7967 7.10101 5.46362 8.33048 5.46362 8.33048C5.46362 8.33048 5.73683 18.986 13.5235 17.3466C12.9771 13.385 10.928 12.2921 10.928 12.2921C14.753 12.2921 15.0262 16.9368 15.0262 16.9368V23.2208C15.436 23.2208 15.9825 23.2208 16.3923 23.2208C16.8021 23.2208 17.3486 23.2208 17.7584 23.2208V17.4833C17.7584 17.4833 17.7584 12.1555 21.8566 10.7894C21.8566 10.7894 19.1245 14.8877 19.1245 17.6199C28.6871 18.5761 28.6871 5.4617 28.6871 5.4617C28.6871 5.4617 16.5289 4.09562 15.436 12.4287Z"
        fill="black"></path>
    </svg>
  </div>
  <div
    id="toggle"
    class="grid grid-cols-3 bg-[#253946] p-1 items-center rounded-full relative w-[72px]"
  >
    <div
      id="indicator"
      class="absolute w-6 h-6 bg-black rounded-full transition-all duration-300"
      style="transform: translateX(100%)"
    >
    </div>
    <span class="relative speed-button w-6 h-6 cursor-pointer" data-index="0">
      <svg
        width="21"
        height="14"
        class="w-6 h-6 pointer-events-none"
        viewBox="0 0 21 14"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M17.5854 0.291267C16.3654 0.251267 15.1554 1.19127 14.7754 2.69127C14.2754 4.69127 14.2754 4.69127 13.2754 5.69127C11.2754 7.69127 8.27539 8.69127 2.27539 9.69127C1.27539 9.85127 0.775391 10.1913 0.275391 10.6913C2.27539 10.6913 4.27539 10.6913 2.77539 12.1913L1.27539 13.6913H4.27539L6.27539 11.6913C8.27539 12.6913 9.60539 12.6913 11.6054 11.6913L12.2754 13.6913H15.2754L14.2754 10.6913C14.2754 10.6913 15.2754 6.69127 16.2754 5.69127C17.2754 4.69127 17.2754 5.69127 18.2754 5.69127C19.2754 5.69127 20.2754 4.69127 20.2754 3.19127C20.2754 2.69127 20.2754 1.69127 18.7754 0.691267C18.4254 0.451267 18.0154 0.311267 17.5854 0.291267ZM7.27539 0.691267C5.68409 0.691267 4.15797 1.32341 3.03275 2.44863C1.90753 3.57384 1.27539 5.09997 1.27539 6.69127C1.27539 7.29127 1.40539 7.77127 1.50539 8.29127C7.42539 7.31127 10.5654 6.28127 12.2054 4.63127L12.7054 4.13127C11.7154 2.03127 9.59539 0.691267 7.27539 0.691267Z"
          fill="white"></path>
      </svg>
    </span>
    <span class="relative speed-button w-6 h-6 cursor-pointer" data-index="1"></span>
    <span class="relative speed-button w-6 h-6 cursor-pointer" data-index="2">
      <svg
        width="25"
        height="25"
        viewBox="0 0 25 25"
        class="w-6 h-6 pointer-events-none"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M18.3254 21.6914L15.5954 16.9514C15.5954 15.2214 14.5254 14.1114 13.2254 14.1114C12.3254 14.1114 11.5454 14.6114 11.1454 15.3514C11.4754 15.1614 11.8654 15.0614 12.2754 15.0614C13.5754 15.0614 14.6354 16.1214 14.6354 17.4214C14.6354 18.7314 13.5854 19.8014 12.2754 19.8014H15.5754V21.6914H7.06539C6.82539 21.6914 6.57539 21.6014 6.39539 21.4114C6.02539 21.0414 6.02539 20.4414 6.39539 20.0714L6.89539 19.5714C6.55539 19.4214 6.27539 19.1914 5.99539 18.9514C5.77539 19.4514 5.27539 19.8014 4.69539 19.8014C3.91539 19.8014 3.27539 19.1614 3.27539 18.3714C3.27539 17.5914 3.91539 16.9514 4.69539 16.9514L5.16539 17.0314V15.0614C5.16539 12.4414 7.27539 10.3214 9.90539 10.3214H9.92539C12.0454 10.3314 13.6954 11.1614 13.6954 9.85141C13.6954 8.92141 13.8954 8.55141 14.2354 8.03141C13.5054 7.69141 12.6754 7.48141 11.8054 7.48141C11.2754 7.48141 10.8554 7.06141 10.8554 6.53141C10.8554 6.10141 11.1354 5.74141 11.5254 5.62141L10.8554 5.58141C10.3354 5.58141 9.90539 5.16141 9.90539 4.64141C9.90539 4.11141 10.3354 3.69141 10.8554 3.69141H11.8054C13.9054 3.69141 15.7454 4.84141 16.7354 6.54141L17.0154 6.53141C17.7254 6.53141 18.3854 6.76141 18.9254 7.14141L19.3754 7.52141C21.5454 9.47141 21.2754 10.7914 21.2754 10.8014C21.2754 12.0814 20.2154 13.1314 18.9254 13.1314L18.4354 13.0814V13.1614C18.4354 14.2714 17.9554 15.2614 17.2054 15.9614L20.5154 21.6914H18.3254ZM18.4354 8.43141C17.9054 8.43141 17.4854 8.85141 17.4854 9.37141C17.4854 9.90141 17.9054 10.3214 18.4354 10.3214C18.9554 10.3214 19.3854 9.90141 19.3854 9.37141C19.3854 8.85141 18.9554 8.43141 18.4354 8.43141Z"
          fill="white"></path>
      </svg>
    </span>
  </div>
</div>
<div id="video-player" class="h-[89%]">
  <video id="player" playsinline class="h-full bg-black">
    <source src="/video/sample_video.mp4" type="video/mp4" />
  </video>
</div>

<!-- Custom Controls -->
<div
  class="custom-controls text-[#111827] flex items-center justify-between gap-2 pt-6"
>
  <div class="flex items-center gap-2 md:gap-4">
    <button
      class="w-[26px] h-[26px] flex items-center justify-center transition-all hover:bg-black/10 rounded"
      id="rewind"
    >
      <svg
        width="21"
        height="20"
        viewBox="0 0 21 20"
        class="w-5 h-5"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M1.39307 2.98328V8.44762M1.39307 8.44762H6.8574M1.39307 8.44762L5.61882 4.47687C6.87645 3.22136 8.50804 2.40859 10.2678 2.16101C12.0275 1.91342 13.82 2.24444 15.3752 3.10419C16.9305 3.96394 18.1642 5.30585 18.8904 6.92771C19.6167 8.54958 19.7962 10.3635 19.4019 12.0963C19.0076 13.8291 18.0608 15.3867 16.7043 16.5346C15.3477 17.6825 13.6548 18.3584 11.8807 18.4605C10.1066 18.5626 8.34733 18.0854 6.86802 17.1007C5.38871 16.1161 4.26949 14.6773 3.67898 13.0012"
          stroke="#111827"
          stroke-width="2.73217"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
      </svg>
    </button>
    <button
      class="w-[26px] h-[26px] flex items-center justify-center transition-all hover:bg-black/10 rounded"
      id="play-pause"
    >
      <svg
        width="18"
        height="21"
        viewBox="0 0 18 21"
        class="w-5 h-5"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M1.93262 1.39844L15.7453 10.278L1.93262 19.1576V1.39844Z"
          fill="#111827"
          stroke="#111827"
          stroke-width="2.73217"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
      </svg>
    </button>
    <button
      class="w-[26px] h-[26px] flex items-center justify-center transition-all hover:bg-black/10 rounded"
      id="fast-forward"
    >
      <svg
        width="22"
        height="20"
        viewBox="0 0 22 20"
        class="w-5 h-5"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M20.2821 2.99001V8.45435M20.2821 8.45435H14.8177M20.2821 8.45435L16.0654 4.4836C14.8092 3.22656 13.1784 2.41187 11.4189 2.16229C9.65934 1.91272 7.86635 2.24177 6.31009 3.09988C4.75383 3.95799 3.51863 5.29865 2.79061 6.91984C2.06259 8.54104 1.8812 10.3549 2.27378 12.0882C2.66635 13.8214 3.61162 15.3801 4.96714 16.5294C6.32266 17.6787 8.01499 18.3563 9.78911 18.4601C11.5632 18.5639 13.323 18.0882 14.8033 17.1049C16.2836 16.1215 17.4042 14.6836 17.9962 13.008"
          stroke="#111827"
          stroke-width="2.73217"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
      </svg>
    </button>
    <span class="flex items-center gap-2 text-sm">
      <span id="current-time">0:00</span>/<span id="total-time">0:00</span>
    </span>
  </div>
  <div class="flex items-center gap-3 md:gap-6">
    <button
      class="w-[26px] h-[26px] flex items-center justify-center transition-all hover:bg-black/10 rounded"
      id="toggle-video"
    >
      <svg
        width="194"
        height="181"
        viewBox="0 0 194 181"
        class="w-5 h-5"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M3.20033 2.05053C1.86699 3.38386 0.666992 5.25053 0.666992 5.9172C0.666992 6.7172 6.40033 13.5172 13.3337 21.1172C20.267 28.7172 26.0003 35.2505 26.0003 35.5172C26.0003 35.6505 22.0003 36.0505 17.067 36.1839C9.46699 36.4505 7.73366 36.9839 4.80033 39.9172L1.33366 43.2505V90.0505V136.851L5.73366 140.717L10.0003 144.584H69.067H128.134L144 161.917C152.667 171.384 161.067 179.651 162.4 180.051C166.134 181.251 170.8 176.184 169.2 172.717C167.2 168.317 10.9337 0.850532 8.26699 0.0505316C6.93366 -0.216135 4.66699 0.583865 3.20033 2.05053Z"
          fill="black"></path>
        <path
          d="M59.6004 36.718C60.267 38.1846 143.734 127.918 144.934 128.318C145.467 128.585 146 125.785 146 122.051C146 118.318 146.267 115.251 146.667 115.251C147.067 115.251 155.734 119.385 166 124.585C176.267 129.651 185.734 133.918 187.2 133.918C193.734 133.918 194 132.451 194 90.8513C194 57.6513 193.734 51.3846 191.867 48.8513C190.8 47.2513 188.934 45.918 187.867 45.918C186.8 45.918 177.067 50.4513 166.134 55.918L146.267 65.7846L145.867 54.5846C145.334 44.5846 144.934 42.8513 142 39.918L138.534 36.5846L98.9337 36.1846C77.2004 36.0513 59.467 36.318 59.6004 36.718Z"
          fill="black"></path>
      </svg>
    </button>
    <button
      class="w-[26px] h-[26px] flex items-center justify-center transition-all hover:bg-black/10 rounded"
      id="volume-control"
    >
      <svg
        width="23"
        height="17"
        viewBox="0 0 23 17"
        class="w-5 h-5"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M10.2336 2.00122L5.40303 5.86568H1.53857V11.6624H5.40303L10.2336 15.5268V2.00122Z"
          fill="#111827"></path>
        <path
          d="M18.0301 1.93359C19.8413 3.74533 20.8588 6.20223 20.8588 8.76402C20.8588 11.3258 19.8413 13.7827 18.0301 15.5944M14.6198 5.34398C15.5254 6.24984 16.0341 7.4783 16.0341 8.75919C16.0341 10.0401 15.5254 11.2685 14.6198 12.1744M10.2336 2.00122L5.40303 5.86568H1.53857V11.6624H5.40303L10.2336 15.5268V2.00122Z"
          stroke="#111827"
          stroke-width="2.73217"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
      </svg>
    </button>
    <button
      class="w-[26px] h-[26px] flex items-center justify-center transition-all hover:bg-black/10 rounded"
      id="quality-control"
    >
      <svg
        width="18"
        height="18"
        viewBox="0 0 18 18"
        class="w-5 h-5 "
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M17.6962 11.2635L16.1709 10.3827C16.3249 9.55205 16.3249 8.6999 16.1709 7.86924L17.6962 6.98845C17.8716 6.88819 17.9504 6.68053 17.8931 6.48718C17.4957 5.21254 16.819 4.05964 15.9346 3.10007C15.7985 2.95328 15.5766 2.91747 15.4047 3.01772L13.8794 3.89851C13.2385 3.34713 12.501 2.92105 11.7025 2.64178V0.883774C11.7025 0.683268 11.5629 0.507826 11.3659 0.464861C10.0519 0.171264 8.70567 0.185585 7.45609 0.464861C7.25917 0.507826 7.11953 0.683268 7.11953 0.883774V2.64536C6.32467 2.92821 5.5871 3.35429 4.94262 3.9021L3.42092 3.0213C3.24548 2.92105 3.02707 2.95328 2.89102 3.10365C2.00665 4.05964 1.32994 5.21254 0.932509 6.49076C0.871642 6.68411 0.953992 6.89177 1.12943 6.99203L2.65471 7.87282C2.50075 8.70348 2.50075 9.55563 2.65471 10.3863L1.12943 11.2671C0.953992 11.3673 0.875222 11.575 0.932509 11.7683C1.32994 13.043 2.00665 14.1959 2.89102 15.1555C3.02707 15.3023 3.24906 15.3381 3.42092 15.2378L4.9462 14.357C5.5871 14.9084 6.32467 15.3345 7.12311 15.6138V17.3753C7.12311 17.5758 7.26275 17.7513 7.45968 17.7943C8.7737 18.0878 10.12 18.0735 11.3695 17.7943C11.5665 17.7513 11.7061 17.5758 11.7061 17.3753V15.6138C12.501 15.3309 13.2385 14.9048 13.883 14.357L15.4083 15.2378C15.5837 15.3381 15.8021 15.3058 15.9382 15.1555C16.8226 14.1995 17.4993 13.0466 17.8967 11.7683C17.9504 11.5714 17.8716 11.3638 17.6962 11.2635ZM9.41102 11.9903C7.83204 11.9903 6.54666 10.705 6.54666 9.12598C6.54666 7.547 7.83204 6.26161 9.41102 6.26161C10.99 6.26161 12.2754 7.547 12.2754 9.12598C12.2754 10.705 10.99 11.9903 9.41102 11.9903Z"
          fill="#111827"></path>
      </svg>
    </button>
    <button
      class="w-[26px] h-[26px] flex items-center justify-center transition-all hover:bg-black/10 rounded"
      id="transcription-of-the-track-into-text"
    >
      <svg
        width="19"
        height="19"
        viewBox="0 0 19 19"
        class="w-5 h-5"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M2.79834 0.763672C1.68834 0.763672 0.79834 1.65367 0.79834 2.76367V16.7637C0.79834 17.8737 1.68834 18.7637 2.79834 18.7637H16.7983C17.9083 18.7637 18.7983 17.8737 18.7983 16.7637V2.76367C18.7983 1.65367 17.9083 0.763672 16.7983 0.763672H2.79834ZM2.79834 2.76367H16.7983V16.7637H2.79834V2.76367ZM4.79834 4.76367V6.76367H14.7983V4.76367H4.79834ZM4.79834 8.76367V10.7637H14.7983V8.76367H4.79834ZM4.79834 12.7637V14.7637H11.7983V12.7637H4.79834Z"
          fill="black"></path>
      </svg>
    </button>
    <button
      class="w-[26px] h-[26px] flex items-center justify-center transition-all hover:bg-black/10 rounded"
      id="fullscreen"
    >
      <svg
        width="16"
        height="16"
        viewBox="0 0 16 16"
        class="w-[18px] h-[18px]"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M10.0491 1.61719H14.1473M14.1473 1.61719V5.71544M14.1473 1.61719L9.36601 6.39849M5.9508 13.912H1.85254M1.85254 13.912V9.8137M1.85254 13.912L6.63384 9.13066"
          stroke="#111827"
          stroke-width="2.73217"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
      </svg>
    </button>
  </div>
</div>

<script>
  import Plyr from "plyr";

  document.addEventListener("astro:after-swap", () => {
    setupPlyr();
  });

  function formatTime(seconds) {
    const minutes = Math.floor(seconds / 60);
    const secs = Math.floor(seconds % 60);
    return `${minutes}:${secs < 10 ? "0" : ""}${secs}`;
  }

  function filterme(value) {
    value = parseInt(value, 10); // Convert to an integer
    var customToggle = document.getElementById("custom-toggle");
    var spanElements = document.querySelectorAll("span");

    if (value === 1) {
      customToggle.classList.remove("tgl-off", "tgl-def");
      customToggle.classList.add("tgl-on");
      spanElements.forEach(function (span) {
        span.textContent = "Enabled";
      });
    } else if (value === 2) {
      customToggle.classList.remove("tgl-on", "tgl-off");
      customToggle.classList.add("tgl-def");
      spanElements.forEach(function (span) {
        span.textContent = "Undetermined";
      });
    } else if (value === 3) {
      customToggle.classList.remove("tgl-def", "tgl-on");
      customToggle.classList.add("tgl-off");
      spanElements.forEach(function (span) {
        span.textContent = "Disabled";
      });
    }
  }

  function setupPlyr() {
    const player = new Plyr("#player", {
      controls: ["play-large", "progress"],
    });
    const speedButtons = document.querySelectorAll(".speed-button");
    console.log("speedButtonsspeedButtons", speedButtons);
    const videoEl = document.getElementById("player");
    const volumeControlBtn = document.getElementById("volume-control");
    const currentTimeEl = document.getElementById("current-time");
    const toggleVideoEl = document.getElementById("toggle-video");
    const totalTimeEl = document.getElementById("total-time");

    const playPauseBtn = document.getElementById("play-pause");
    const rewindBtn = document.getElementById("rewind");
    const fastForwardBtn = document.getElementById("fast-forward");
    const fullscreenBtn = document.getElementById("fullscreen");

    player.on("loadedmetadata", () => {
      const totalTime = document.getElementById("total-time");
      const duration = player.duration;

      if (!isNaN(duration) && duration > 0) {
        totalTime.textContent = formatTime(duration);
      }
    });
    player.on("timeupdate", () => {
      currentTimeEl.textContent = formatTime(player.currentTime);
    });

    // Custom Controls
    playPauseBtn.addEventListener("click", () => {
      if (player.paused) {
        player.play();
      } else {
        player.pause();
      }
      updatePlayPauseIcon();
    });

    // Add this to your existing script section
    function setOption(index) {
      const indicator = document.getElementById("indicator");
      indicator.style.transform = `translateX(${index * 100}%)`;

      // Update the playback speed based on the selected option
      if (player) {
        if (index === 0) {
          player.speed = 0.5; // slow speed
          console.log("Speed set to 0.5x (slow)");
        } else if (index === 1) {
          player.speed = 1.0; // normal speed
          console.log("Speed set to 1.0x (normal)");
        } else if (index === 2) {
          player.speed = 2.0; // fast speed
          console.log("Speed set to 2.0x (fast)");
        }
      }
    }

    speedButtons.forEach((button) => {
      button.addEventListener("click", (event: any) => {
        const index = event.target.dataset.index;
        console.log("indexindex", index);
        setOption(Number(index));
      });
    });

    function getPlayIcon() {
      return `<svg width="18" height="21" viewBox="0 0 18 21" class="w-5 h-5" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1.93262 1.39844L15.7453 10.278L1.93262 19.1576V1.39844Z" fill="#111827" stroke="#111827" stroke-width="2.73217" stroke-linecap="round" stroke-linejoin="round"></path>
      </svg>
    `;
    }

    function getPauseIcon() {
      return `<svg width="18" height="21" viewBox="0 0 18 21" class="w-5 h-5" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M2.93262 1.39844H6.93262V19.1576H2.93262V1.39844Z" fill="#111827" stroke="#111827" stroke-width="2.73217" stroke-linecap="round" stroke-linejoin="round"></path>
        <path d="M11.9326 1.39844H15.9326V19.1576H11.9326V1.39844Z" fill="#111827" stroke="#111827" stroke-width="2.73217" stroke-linecap="round" stroke-linejoin="round"></path>
      </svg>
    `;
    }

    function getDisabledCameraIcon() {
      return `<svg width="194" height="181" viewBox="0 0 194 181" class="w-5 h-5" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M3.20033 2.05053C1.86699 3.38386 0.666992 5.25053 0.666992 5.9172C0.666992 6.7172 6.40033 13.5172 13.3337 21.1172C20.267 28.7172 26.0003 35.2505 26.0003 35.5172C26.0003 35.6505 22.0003 36.0505 17.067 36.1839C9.46699 36.4505 7.73366 36.9839 4.80033 39.9172L1.33366 43.2505V90.0505V136.851L5.73366 140.717L10.0003 144.584H69.067H128.134L144 161.917C152.667 171.384 161.067 179.651 162.4 180.051C166.134 181.251 170.8 176.184 169.2 172.717C167.2 168.317 10.9337 0.850532 8.26699 0.0505316C6.93366 -0.216135 4.66699 0.583865 3.20033 2.05053Z" fill="black"/>
<path d="M59.6004 36.718C60.267 38.1846 143.734 127.918 144.934 128.318C145.467 128.585 146 125.785 146 122.051C146 118.318 146.267 115.251 146.667 115.251C147.067 115.251 155.734 119.385 166 124.585C176.267 129.651 185.734 133.918 187.2 133.918C193.734 133.918 194 132.451 194 90.8513C194 57.6513 193.734 51.3846 191.867 48.8513C190.8 47.2513 188.934 45.918 187.867 45.918C186.8 45.918 177.067 50.4513 166.134 55.918L146.267 65.7846L145.867 54.5846C145.334 44.5846 144.934 42.8513 142 39.918L138.534 36.5846L98.9337 36.1846C77.2004 36.0513 59.467 36.318 59.6004 36.718Z" fill="black"/>
</svg>`;
    }

    function getEnabledCameraIcon() {
      return `<svg width="194" height="109" viewBox="0 0 194 109" fill="none" class="w-5 h-5" xmlns="http://www.w3.org/2000/svg">
<path d="M3.46667 4.71731L0 8.85065V53.384C0 101.784 0.266667 103.784 7.33333 106.984C9.86667 108.184 27.7333 108.584 73.3333 108.584H135.733L139.867 105.117C143.867 101.784 144 101.384 144 90.4507C144 83.784 144.533 79.2506 145.333 79.2506C146.133 79.2506 155.2 83.5173 165.467 88.7173C175.867 93.784 185.6 97.9173 187.067 97.6507C192.667 96.8507 193.333 92.7173 193.333 54.3173C193.333 34.4506 192.8 16.584 192.133 14.8506C189.733 8.58398 186.667 9.25065 165.467 19.9173C154.4 25.384 145.067 29.9173 144.667 29.9173C144.267 29.9173 144 24.584 144 18.184C144 -1.01602 150.4 0.583979 72.4 0.583979H6.93333L3.46667 4.71731Z" fill="black"/>
</svg>
`;
    }

    // Add this function to update the play/pause icon
    function updatePlayPauseIcon() {
      const playPauseBtn = document.getElementById("play-pause");

      if (player.paused) {
        // Show play icon
        playPauseBtn.innerHTML = getPlayIcon();
      } else {
        // Show pause icon
        playPauseBtn.innerHTML = getPauseIcon();
      }
    }

    // Toggle Video
    toggleVideoEl.addEventListener("click", () => {
      videoEl.classList.toggle("opacity-0");
      if (videoEl.classList.contains("opacity-0")) {
        toggleVideoEl.innerHTML = getEnabledCameraIcon();
      } else {
        toggleVideoEl.innerHTML = getDisabledCameraIcon();
      }
    });

    // Add these event listeners to sync the UI with player state
    player.on("play", () => {
      updatePlayPauseIcon();
    });

    player.on("pause", () => {
      updatePlayPauseIcon();
    });

    // Initialize the icon state
    updatePlayPauseIcon();

    rewindBtn.addEventListener("click", () => {
      player.rewind(10); // Rewind 10 seconds
    });

    fastForwardBtn.addEventListener("click", () => {
      player.forward(10); // Fast forward 10 seconds
    });

    fullscreenBtn.addEventListener("click", () => {
      player.fullscreen.toggle();
    });
  }

  setupPlyr(); // Initialize on first load
</script>

<style>
  #player {
    max-width: 100%;
    border-radius: 10px;
  }
</style>
