---
import "plyr/dist/plyr.css";
---

<!-- Modal -->
<div id="carousel-modal" class="fixed inset-0 z-50 hidden">
  <!-- Backdrop -->
  <div id="modal-backdrop" class="absolute inset-0 bg-black/75"></div>

  <!-- Modal Content -->
  <div
    class="relative z-10 flex items-center justify-center w-full h-full p-4 pointer-events-none"
  >
    <div
      class="bg-white rounded-lg shadow-xl max-w-4xl w-full max-h-[90vh] overflow-y-auto pointer-events-auto"
    >
      <div class="p-4 md:p-6 video-plyr">
        <div class="flex justify-end mb-4 md:mb-6">
          <span>
            <svg width="29" height="26" viewBox="0 0 29 26" class="w-6 h-6" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M0.731445 25.0512V22.3191C0.731445 22.3191 7.56187 19.5869 14.3923 19.5869C21.2227 19.5869 28.0532 22.3191 28.0532 22.3191V25.0512H0.731445ZM13.436 7.42874C11.7967 2.10101 3.46362 3.33048 3.46362 3.33048C3.46362 3.33048 3.73683 13.986 11.5235 12.3466C10.9771 8.385 8.92796 7.29213 8.92796 7.29213C12.753 7.29213 13.0262 11.9368 13.0262 11.9368V18.2208C13.436 18.2208 13.9825 18.2208 14.3923 18.2208C14.8021 18.2208 15.3486 18.2208 15.7584 18.2208V12.4833C15.7584 12.4833 15.7584 7.15552 19.8566 5.78944C19.8566 5.78944 17.1245 9.88769 17.1245 12.6199C26.6871 13.5761 26.6871 0.461703 26.6871 0.461703C26.6871 0.461703 14.5289 -0.904382 13.436 7.42874Z" fill="black"/>
              </svg>
              
          </span>
        </div>
        <div class="plyr__video-embed" id="playerModal">
          <iframe
            src="https://www.youtube.com/embed/g6ir73hoaz0?origin=https://plyr.io&amp;iv_load_policy=3&amp;modestbranding=1&amp;playsinline=1&amp;showinfo=0&amp;rel=0&amp;enablejsapi=1"
            allowfullscreen
            allowtransparency
            allow="autoplay"
          ></iframe>
        </div>
        <!-- <video id="playerModal" playsinline class="h-full bg-black">
          <source src="/video/sample_video.mp4" type="video/mp4" />
          <track
            kind="captions"
            label="English"
            src="/video/sample.vtt"
            srclang="en"
            default
          />
        </video> -->
      </div>
    </div>
  </div>
</div>

<script>
  import Plyr from "plyr";
  import { PLYR_OPTIONS } from "../../constant";

  // Initialize Plyr
  const player = new Plyr("#playerModal", {
    controls: PLYR_OPTIONS,
    settings: ["captions", "quality", "speed", "loop"],
    quality: {
      default: 720,
      options: [1080, 720, 480, 360, 240],
      forced: true,
      onChange: (newQuality) => {
      },
    },
  });
</script>

<style>
  #player {
    max-width: 100%;
    border-radius: 10px;
  }
</style>
