---
import { Image } from "astro:assets";
import "../styles/global.css";
import { logo_digital_forst_certificate, logo_green_hosting, logo_powered_by_bubble_go } from "../generated/images";
---

<footer class="bg-[#22252a] px-4 pb-20 lg:pb-0">
  <lazy-load>
    <div class="container mx-auto">
      <nav
        class="flex items-center justify-between flex-col lg:flex-row lg:gap-0 gap-6 py-10"
      >
        <!-- Logo -->
        <div
          class="flex flex-col gap-6 w-full items-center lg:items-start lg:w-auto lg:px-0 xl:min-w-[305.8px]"
        >
          <p class="text-lg text-white">
            Hosted by <a
              href="#"
              class="text-[#96F50A] inline-block relative before:content-[''] before:absolute before:h-[1px] before:left-0 before:right-0 before:bg-[#96F50A] before:bottom-[5px]"
              >DigitalForest</a
            >
          </p>
          <div class="flex items-center gap-8">
            <Image
              src={logo_digital_forst_certificate}
              alt="Digital Forest Certificate Logo"
              width={86}
              height={66}
            />
            <Image
              src={logo_green_hosting}
              alt="Green Hosting Logo"
              width={136}
              height={65}
            />
          </div>
        </div>

        <!-- Menu -->
        <div class="hidden lg:block lg:px-0 md:w-[60%] lg:w-auto w-full">
          <slot/>
        </div>

        <div class="flex flex-col gap-6 w-full lg:w-auto lg:px-0">
          <Image
            src={logo_powered_by_bubble_go}
            alt="Powered by Bubble Green Logo"
            class="self-center lg:self-end"
            width={195}
            height={53}
          />
          <p class="text-sm text-white text-center lg:text-right leading-[2] underline">
            Site web éco-conçu réalisé par Bubble Green - <br />Déclaration
            environnementale - <a href="/mention-legale" class="text-white"
              >Mention Légale</a
            >
          </p>
        </div>
      </nav>
    </div>
  </lazy-load>
</footer>
