---
import Header from "../layouts/Header.astro";
import Footer from "./Footer.astro";
import NavMobile from "./NavMobile.astro";
---

<body>
  <Header redirectUrl="/campain" contactHref="/#contact">
    <ul
      class="hidden lg:flex space-x-2 md:space-x-6 text-gray-700 py-2 bg-white rounded-full px-5 md:px-12"
    >
      <li class="flex items-center">
        <a
          href="/#vision"
          class="text-[#253946] hover:text-black text-[13.5px] md:text-base font-semibold"
          >Vision</a
        >
      </li>
      <li class="flex items-center">
        <a
          href="/#mission"
          class="text-[#253946] hover:text-black text-[13.5px] md:text-base font-semibold"
          >Mission</a
        >
      </li>
      <li class="flex items-center">
        <a
          href="/#solution"
          class="text-[#253946] hover:text-black text-[13.5px] md:text-base font-semibold"
          >Solutions</a
        >
      </li>
      <li class="flex items-center">
        <a
          href="/#references"
          class="text-[#253946] hover:text-black text-[13.5px] md:text-base font-semibold"
          >Références</a
        >
      </li>
    </ul>
  </Header>
  <main>
    <slot />
  </main>
  <Footer>
    <ul
      class="flex space-x-2 md:space-x-6 lg:space-x-4 xl:space-x-6 justify-center lg:justify-start text-gray-700 py-[14px] bg-white rounded-full md:px-12 w-full"
    >
      <li>
        <a
          href="/#vision"
          class="text-black text-sm md:text-base font-semibold">Vision</a
        >
      </li>
      <li>
        <a
          href="/#mission"
          class="text-black text-sm md:text-base font-semibold"
          >Mission</a
        >
      </li>
      <li>
        <a href="/#solution" class="text-black text-sm md:text-base font-semibold"
          >Solutions</a
        >
      </li>

      <li>
        <a href="/#references" class="text-black text-sm md:text-base font-semibold"
          >Références</a
        >
      </li>
    </ul>
  </Footer>
  <NavMobile />
  <script>
    import { initNavigationHighlighter } from "../components/navigation-highlight"
    
    document.addEventListener("DOMContentLoaded", () => {
      initNavigationHighlighter();
    });
  </script>
</body>
