---
import '@fontsource/poppins';
import '@fontsource/poppins/400.css';
import '@fontsource/poppins/500.css';
import '@fontsource/poppins/600.css';
import '@fontsource/poppins/700.css';
import Header from "../layouts/Header.astro";
import Footer from "./Footer.astro";
import NavMobileCampain from "./NavMobileCampain.astro";
---

<body class="font-poppins">
  <Header redirectUrl="/" contactHref="#contact">
    <ul
      class="hidden lg:flex space-x-2 md:space-x-6 text-gray-700 py-2 bg-white rounded-full px-5 md:px-12"
    >
      <li class="flex items-center">
        <a
          href="#solution-campain"
          class="text-[#253946] hover:text-black text-[13.5px] md:text-base font-semibold"
          >Solution</a
        >
      </li>
      <li class="flex items-center">
        <a
          href="#implementation"
          class="text-[#253946] hover:text-black text-[13.5px] md:text-base font-semibold"
          >Mise en oeuvre</a
        >
      </li>
      <li class="flex items-center">
        <a
          href="#engagement"
          class="text-[#253946] hover:text-black text-[13.5px] md:text-base font-semibold"
          >Engagements</a
        >
      </li>
      <li class="flex items-center">
        <a
          href="#references"
          class="text-[#253946] hover:text-black text-[13.5px] md:text-base font-semibold"
          >Références</a
        >
      </li>
    </ul>
  </Header>
  <main>
    <slot />
  </main>
  <Footer>
    <ul
      class="flex space-x-2 md:space-x-6 lg:space-x-4 xl:space-x-6 justify-center lg:justify-start text-gray-700 py-[14px] bg-white rounded-full md:px-12 w-full"
    >
      <li>
        <a
          href="#solution-campain"
          class="text-black text-sm md:text-base font-semibold">Solution</a
        >
      </li>
      <li>
        <a
           href="#implementation"
          class="text-black text-sm md:text-base font-semibold"
          >Mise en oeuvre</a
        >
      </li>
      <li>
        <a href="#engagement" class="text-black text-sm md:text-base font-semibold"
          >Engagements</a
        >
      </li>

      <li>
        <a href="#references" class="text-black text-sm md:text-base font-semibold"
          >Références</a
        >
      </li>
    </ul>
  </Footer>
  <NavMobileCampain />
</body>
